<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title is defined ? title : 'CTA Image' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .wrapper .cta-url {
            display: block;
            position: relative;
            min-height: 100px;
            width: 100%;
            height: 100%;
        }
        .bg-cover {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    {% if GTM_ID is defined %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ GTM_ID }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
</head>
<body>
    {% if GTM_ID is defined %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_ID }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <div class="wrapper" style="width:100%;height:{{actualHeight}};">
        <a title="{{ title }}" 
            class="cta-url shorthand-cta-image" 
            href="{{ cta_url }}" 
            target="{{ open_new_tab is defined and open_new_tab == true ? '_blank' : '' }}" 
            rel="nofollow">
            <div class="bg-cover" style="background-image:url({{ md.mobile() and mobile.img_url ? mobile.img_url : img_url }});">
            </div>
        </a>
    </div>
</body>
</html>